@use "global" as *;

.p-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-button__contact {
  display: flex;
  align-items: center;
  justify-content: left;
}

.p-button__contact.disabled > * {
  background: gray;
  border: gray;
  pointer-events: none;
}

.c-button {
  position: relative;
  box-sizing: border-box;
  padding: rem(16) rem(56);
  border-radius: rem(9999);
  border: solid 2px $red;
  text-align: center;
  font-weight: bold;
  transition: 0.3s;
  background: $red;
  color: $white;
  @include mq(md) {
    background: $white;
    color: $red;
  }
}

.c-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(100% - #{rem(48)});
  transform: translateY(-50%);
  width: rem(40);
  height: rem(40);
  border-radius: 50%;
  background: $red;
  transition: 0.3s;
  @include mq(md) {
    left: rem(8);
  }
}

.c-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(100% - #{rem(34)});
  transform-origin: top right;
  transform: translateY(-50%);
  width: rem(14);
  height: rem(14);
  border-top: rem(3) solid $white;
  border-right: rem(3) solid $white;
  transform: rotate(45deg);
  transition: 0.3s;
  @include mq(md) {
    left: rem(20);
  }
}

.c-button:hover {
  @include mq(md) {
    background: $red;
    color: $white;
  }
}

.c-button:hover::before {
  @include mq(md) {
    left: calc(100% - #{rem(48)});
  }
}

.c-button:hover::after {
  @include mq(md) {
    left: calc(100% - #{rem(34)});
  }
}

.c-button--email {
  width: rem(320);
  border: solid rem(2) $white;
  padding: rem(16) rem(48);
  font-size: rem(14);
  position: relative;
  border-radius: rem(9999);
  text-align: center;
  font-weight: bold;
  transition: 0.3s;
  background: $red;
  color: $white;

  @include mq("md") {
    border: solid rem(5) $white;
    padding: rem(32) rem(136);
    font-size: rem(24);
    width: rem(560);
    color: $red;
    background: $white;
  }
}

.c-button--email:hover {
  @include mq(md) {
    background: $red;
    color: $white;
  }
}

.c-button--email::before {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(100% - #{rem(66)});
  transform: translateY(-50%);
  border-radius: 50%;
  background: $red;
  width: rem(50);
  height: rem(50);
  transition: 0.3s;
  @include mq("md") {
    left: rem(32);
    width: rem(88);
    height: rem(88);
  }
}

.c-button--email::after {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(100% - #{rem(41)});
  transform-origin: top right;
  transform: translate(-50%, -50%);
  width: rem(24);
  height: rem(24);
  background: url("../images/contact_email.svg") center/100% no-repeat;
  transition: 0.3s;

  @include mq("md") {
    left: rem(76);
    width: rem(40);
    height: rem(40);
  }
}

.c-button--email:hover::before {
  @include mq("md") {
    left: calc(100% - #{rem(120)});
  }
}

.c-button--email:hover::after {
  @include mq("md") {
    left: calc(100% - #{rem(76)});
  }
}

.c-button--calender {
  width: rem(320);
  border: solid 5px $white;
  padding: rem(16) rem(48);
  font-size: rem(14);
  position: relative;
  border-radius: rem(9999);
  text-align: center;
  font-weight: bold;
  transition: 0.3s;
  background: $blue;
  color: $white;

  @include mq("md") {
    width: rem(560);
    padding: rem(32) rem(136);
    font-size: rem(24);
    color: $blue;
    background: $white;
  }
}

.c-button--calender:hover {
  @include mq(md) {
    background: $blue;
    color: $white;
  }
}

.c-button--calender::before {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(100% - #{rem(66)});
  transform: translateY(-50%);
  border-radius: 50%;
  background: $blue;
  width: rem(50);
  height: rem(50);
  transition: 0.3s;
  @include mq("md") {
    left: rem(32);
    width: rem(88);
    height: rem(88);
  }
}

.c-button--calender::after {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(100% - #{rem(41)});
  transform-origin: top right;
  transform: translate(-50%, -50%);
  width: rem(24);
  height: rem(24);
  background: url("../images/contact_calendar.svg") center/100% no-repeat;
  transition: 0.3s;

  @include mq("md") {
    left: rem(76);
    width: rem(40);
    height: rem(40);
  }
}

.c-button--calender:hover::before {
  @include mq("md") {
    left: calc(100% - #{rem(120)});
  }
}

.c-button--calender:hover::after {
  @include mq("md") {
    left: calc(100% - #{rem(76)});
  }
}

.disabled .c-button--calender {
  color: black;
}
