@use "global" as *;

.c-button {
  position: relative;
  width: 100%;
  min-height: rem(56);
  margin-top: rem(56);
}
.c-button__link {
  background-color: #fff;
  border: 2px solid $red;
  border-radius: 9999px;
  color: $red;
  display: inline-grid;
  min-height: rem(56);
  width: rem(236);
  padding: 0 rem(24);
  place-items: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
}

.c-button__circle {
  background-color: $red;
  border-radius: 9999px;
  color: #fff;
  display: grid;
  height: rem(36);
  left: calc(#{rem(36)} / 4);
  place-items: center;
  position: absolute;
  top: calc(50% - #{rem(36)} / 2);
  width: rem(36);

  &::after {
    content: "";
    position: absolute;
    top: rem(13);
    left: rem(10);
    width: rem(10);
    height: rem(10);
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
  }
}
