@use "global" as *;

.c-chips {
  display: inline-block;
  padding: rem(4) rem(16);
  background-color: $blue;
  border-radius: rem(9999);
  color: $white;
  font-size: rem(10);
  text-align: center;
  @include mq("md") {
    font-size: rem(13);
  }
}

.c-chips--lightblue {
  background-color: #468686;
}
