@use "global" as *;

.c-section-title {
  text-transform: uppercase;
  font-size: rem(40);
  line-height: calc(49 / 40);

  @include mq("md") {
    font-size: rem(91);
    text-align: start;
  }
}

.c-section-title__sub {
  display: inline-block;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  @include mq("md") {
    display: none;
  }
}

.c-section-title__square {
  width: rem(2);
  height: rem(24);

  @include mq("md") {
    display: none;
  }
}
