@use "global" as *;

.c-warning {
  font-size: rem(13);
  font-weight: 500;
  @include mq("md") {
    font-size: rem(16);
  }
}

.c-warning > p {
  position: relative;
  padding-left: rem(16);
  text-align: justify;
}

.c-warning > p::before {
  content: "※";
  position: absolute;
  top: 0;
  left: 0;
}

.c-warning > p + p {
  margin-top: rem(16);
}
