@use "global" as *;

.p-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: rem(16);
  row-gap: rem(32);
}

.p-option-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: rem(16);
  row-gap: rem(48);
}
