@use "global" as *;

.p-new-production {
}

.p-new-production__title {
  font-size: rem(20);
  font-weight: bold;
}

.p-new-production__tables {
  margin-top: rem(32);
}

.p-new-production-table {
  & tr,
  th,
  td {
    display: block;
  }

  & td {
    border-top: 1px solid $white;
  }
}

.p-new-production-table__title {
  font-size: rem(18);
  font-weight: bold;
  width: calc(100vw - #{rem(48)});
  background-color: $red;
  color: $white;
  padding-top: rem(16);
  padding-bottom: rem(16);

  & span {
    font-size: rem(38);
    padding: 0 rem(5);
  }
}

.p-new-production-table_item {
  background-color: $light-blue;
  padding: rem(16);
}

.p-new-production-table__item-title {
  font-size: rem(16);
  font-weight: bold;
}

.p-new-production-table__item-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: rem(8);

  & span {
    font-size: rem(16);
    font-weight: bold;
    font-family: $font-en;
  }
}

.p-new-production-table__item-text {
  display: flex;
  align-items: center;
  & span {
    font-family: $font-main;
    font-size: rem(11);
  }
}
