@use "global" as *;

.p-option {
  margin-top: rem(48);
}

.p-option__title {
  font-size: rem(20);
  font-weight: bold;
}

.p-option-table {
  margin-top: rem(32);
  & tr,
  th,
  td {
    display: block;
  }
}

.p-option-table__title {
  font-size: rem(18);
  font-weight: bold;
  width: calc(100vw - #{rem(48)});
  background-color: $blue;
  color: $white;
  padding-top: rem(16);
  padding-bottom: rem(16);
}

.p-option-table__item {
  background-color: $light-blue;
  padding: rem(24) rem(40);
}
.p-option-table__item--js {
  background-color: $light-blue;
  padding: rem(32) rem(16) rem(32) rem(16);
}
.p-option-table__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.p-option-table__img {
  width: rem(110);
  height: rem(95);
}

.p-option-table__price {
  font-size: rem(20);
  font-weight: bold;
  font-family: $font-en;
}

.p-option-table__price--js {
  font-size: rem(20);
  font-weight: bold;
  text-align: center;

  & span {
    padding-left: rem(5);
    font-size: rem(24);
    font-family: $font-en;
  }
}

.p-option-table__text {
  margin-top: rem(16);
  font-size: rem(14);
  font-weight: 500;
  text-align: justify;
}
