@use "global" as *;

.p-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @include mq("md") {
    flex-direction: row;
    width: 100%;
  }
}

.p-profile .c-text__profile-des {
  @include mq("md") {
    margin-top: rem(8);
  }
}

.p-profile .c-img__twitter {
  margin: rem(8) auto 0 auto;
  @include mq("md") {
    margin: rem(8) 0 0 0;
  }
}

.p-profile__wrapper {
  width: calc(100% - 24px * 2);
  margin: 0 auto;
  @include mq("md") {
    width: 50%;
  }
}

.p-profile__wrapper--center {
  width: calc(100% - 24px * 2);
  display: flex;
  justify-content: center;
  align-items: center;
  @include mq("md") {
    width: 50%;
  }
}

.p-profile__text-center {
  text-align: center;
  @include mq("md") {
    text-align: left;
  }
}
