@use "global" as *;

.p-repair {
  margin-top: rem(48);
}

.p-repair__title {
  font-size: rem(20);
  font-weight: bold;
}

.p-repair-table {
  margin-top: rem(32);
  & tr,
  th,
  td {
    display: block;
  }
}

.p-repair-table__title {
  font-size: rem(18);
  font-weight: bold;
  width: calc(100vw - #{rem(48)});
  background-color: $red;
  color: $white;
  padding-top: rem(16);
  padding-bottom: rem(16);
}

.p-repair-table__item {
  background-color: $light-blue;
  padding: rem(16) rem(40) rem(24) rem(40);
}

.p-repair-table__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.p-repair-table__img {
  width: rem(72);
}

.p-repair-table__price {
  font-size: rem(20);
  font-weight: bold;

  & span:not(:first-child) {
    font-family: $font-en;
  }

  & span span {
    font-size: rem(38);
    padding: 0 rem(5);
  }
}

.p-repair-table__text {
  margin-top: rem(16);
  font-size: rem(14);
  font-weight: 500;
  text-align: justify;

  & a {
    text-decoration: underline;

    &:hover {
      color: $red;
    }
  }
}
