@use "global" as *;

//color
.u-color--red {
  color: $red;
}

.u-color--blue {
  color: $blue;
}

.u-color--white {
  color: $white;
}

//background-color
.u-color__bg--red {
  background-color: $red;
}
.u-color__bg--white {
  background-color: $white;
}

.u-color__bg--light-blue {
  background-color: $light-blue;
}
