@use "global" as *;

//font-size
.u-font__size--xs {
  font-size: rem(10);
}
.u-font__size--ss {
  font-size: rem(12);
}
.u-font__size--s {
  font-size: rem(14);
}
.u-font__size--m {
  font-size: rem(16);
}
.u-font__size--mm {
  font-size: rem(18);
}
.u-font__size--l {
  font-size: rem(20);
}
.u-font__size--ll {
  font-size: rem(22);
}
.u-font__size--xl {
  font-size: rem(24);
}

//font-weight
.u-font__weight--s {
  font-weight: 400;
}

.u-font__weight--m {
  font-weight: 500;
}

.u-font__weight--l {
  font-weight: 700;
}

//font-family
.u-font__family--ja {
  font-family: $font-main;
}

.u-font__family--en {
  font-family: $font-en;
}
