@use "global" as *;

//margin-top
.u-mt {
  &__8 {
    margin-top: rem(8);
  }
  &__16 {
    margin-top: rem(16);
  }
  &__24 {
    margin-top: rem(24);
  }
  &__32 {
    margin-top: rem(32);
  }
  &__40 {
    margin-top: rem(40);
  }
  &__48 {
    margin-top: rem(48);
  }
  &__56 {
    margin-top: rem(56);
  }
  &__64 {
    margin-top: rem(64);
  }
  &__72 {
    margin-top: rem(72);
  }
  &__80 {
    margin-top: rem(80);
  }
  &__88 {
    margin-top: rem(88);
  }
  &__96 {
    margin-top: rem(96);
  }
}

//margin-bottom
.u-mb {
  &__8 {
    margin-top: rem(8);
  }
  &__16 {
    margin-top: rem(16);
  }
  &__24 {
    margin-top: rem(24);
  }
  &__32 {
    margin-top: rem(32);
  }
  &__40 {
    margin-top: rem(40);
  }
  &__48 {
    margin-top: rem(48);
  }
  &__56 {
    margin-top: rem(56);
  }
  &__64 {
    margin-top: rem(64);
  }
  &__72 {
    margin-top: rem(72);
  }
  &__80 {
    margin-top: rem(80);
  }
  &__88 {
    margin-top: rem(88);
  }
  &__96 {
    margin-top: rem(96);
  }
}

//margin-left
.u-ml {
  &__8 {
    margin-top: rem(8);
  }
  &__16 {
    margin-top: rem(16);
  }
  &__24 {
    margin-top: rem(24);
  }
  &__32 {
    margin-top: rem(32);
  }
  &__40 {
    margin-top: rem(40);
  }
  &__48 {
    margin-top: rem(48);
  }
  &__56 {
    margin-top: rem(56);
  }
  &__64 {
    margin-top: rem(64);
  }
  &__72 {
    margin-top: rem(72);
  }
  &__80 {
    margin-top: rem(80);
  }
  &__88 {
    margin-top: rem(88);
  }
  &__96 {
    margin-top: rem(96);
  }
}

//margin-right
.u-mr {
  &__8 {
    margin-top: rem(8);
  }
  &__16 {
    margin-top: rem(16);
  }
  &__24 {
    margin-top: rem(24);
  }
  &__32 {
    margin-top: rem(32);
  }
  &__40 {
    margin-top: rem(40);
  }
  &__48 {
    margin-top: rem(48);
  }
  &__56 {
    margin-top: rem(56);
  }
  &__64 {
    margin-top: rem(64);
  }
  &__72 {
    margin-top: rem(72);
  }
  &__80 {
    margin-top: rem(80);
  }
  &__88 {
    margin-top: rem(88);
  }
  &__96 {
    margin-top: rem(96);
  }
}
