@use "global" as *;

.l-check {
  position: relative;
}
.l-check__img {
  position: absolute;
  right: rem(192);
  top: rem(40);
  width: rem(438);
  height: rem(438);
}

.l-check__img img {
  width: 100%;
}
