@use "global" as *;

/*
  l-container
----------------------------------------------- */
.container {
  width: 100%;
  height: 100%;
}
.contents {
  width: 100%;
  height: 100%;
}
.l-S01,
.l-S02,
.l-S03 {
  position: relative;
  height: 100%;
}
.l-S01 {
  width: 100%;
}
.l-S02 {
  width: 100%;
}
.l-S03 {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
.l-L01,
.l-L02,
.l-L03,
.l-L04,
.l-L05,
.l-L06,
.l-L07,
.l-L08,
.l-L09,
.l-L10,
.l-L11,
.l-L12,
.l-L13,
.l-L14,
.l-L15,
.l-L16 {
  position: relative;
  width: 100%;
}

.l-L01 {
  grid-area: l-L01;
}
.l-L02 {
  grid-area: l-L02;
}
.l-L03 {
  grid-area: l-L03;
}
.l-L04 {
  grid-area: l-L04;
}
.l-L05 {
  grid-area: l-L05;
}
.l-L06 {
  grid-area: l-L06;
}
.l-L07 {
  grid-area: l-L07;
}
.l-L08 {
  grid-area: l-L08;
}
.l-L09 {
  grid-area: l-L09;
}
.l-L10 {
  grid-area: l-L10;
}
.l-L11 {
  grid-area: l-L11;
}
.l-L12 {
  grid-area: l-L12;
}
.l-L13 {
  grid-area: l-L13;
}
.l-L14 {
  grid-area: l-L14;
}
.l-L15 {
  grid-area: l-L15;
}
.l-L16 {
  grid-area: l-L16;
}
