@use "global" as *;

.l-price {
  position: relative;
  padding-top: rem(144);
  padding-bottom: rem(160);

  & .c-section-title {
    width: 100%;
    z-index: 5;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -57%);
  }
}
